@import "libs/variables.scss";
@import "libs/functions.scss";
@import "libs/mixins.scss";
footer {
    position: fixed;
     overflow: hidden;
     z-index: 30;
     & #footer_barre {
        height: 11.5vh;
        background-color: $secondary;
        color: white;
        font-size: .7rem;
        z-index: 10;
        & .footer_fontsize {font-size: 1.5rem;}
     }
     & #footer_rond {
        text-align: center;
        background-color: $secondary;
     }
}