@import "libs/variables.scss";
@import "libs/functions.scss";
@import "libs/mixins.scss";

@media #{$mobile-up} {
    footer {
        bottom: -15vh;
        height: 33vw;
        & .footer_barre {
            width: 100vw;
            margin-top: 3.8vh;
        }
        & .footer_rond {
        position: absolute;
        width: 20vw;
        height: 20vw;
        border-radius: 10vw 10vw 0 0;
        margin-left: 40vw;
        & #fleche_footer {
            width: 40%;
            margin-top: .3rem;
            transform: matrix(1, 0, 0, 1, 0, 0);
           }
       }
    }
   
   
}