@import "libs/variables.scss";
@import "libs/functions.scss";
@import "libs/mixins.scss";

@media #{$mobile-up} {
    .txtweight {font-weight: 800;}
    #backgroung--body {
        position: relative;
        padding-top: 16vh;
        margin-left: auto;
        margin-right: auto;
        color: $secondary;
        font-weight: 600;
        font-size: 1.5rem;
        width: 150vw;
        height: 27vh;
        border-radius: 0 0 253vw 253vw / 10vw 10vw 150vw 150vw;
        margin-top: -14vh;
        margin-left: -25vw;
        overflow: hidden;
        background-color: $primary;
        z-index: 1;
    }
    header {
        position: fixed;
        top: 6.5vh;
        left: -20vw;
        z-index: 10;
        #header_int {
           & #logo_int {
            background-image: url("../../img/logo_int.svg");
            background-repeat: no-repeat;
            height: 20vh;
            width: 70vw;
            margin: -5vh 4vw 0 35vw;
           }
       }
    }
       #dropdown--profil {
        position: fixed;
        top: 1.8vh;
        left: 71vw;
        width: 25vw;
        text-align: right;
        font-weight: 600;
        z-index: 20;
        & p { font-size: 1.5rem;}
        & #items_profil {
            color: $secondary;
            margin: 0 0 0 17vw;          
            & li {
                    width: 10vw;
                    height: 10vw;
                    border-radius: 5vw 5vw;
                    line-height: 10vw;
                    text-align: center;
                    color: white;
                    background-color: $secondary;
            }
        }
    }
    .message1 {
        padding-top: .3vh;
        margin-left: 7vw;
        color: white;
    }
    .message2 {
        margin-left: -3vw;
        margin-top: -.5vh;
        -webkit-text-fill-color:white;
        -webkit-text-stroke-color: $primary;
        -webkit-text-stroke-width: .05rem; 
        z-index: 10;
    }
    .fa-caret-down { color: white;}
    
    main {
        margin-top: .5vh;
        height: 90vh;
        .deconnexion--profil {margin-top: 1rem !important;}
        & .add-article {
            width: 7vw;
            height: 7vw;
            margin-top: -1vh;
            margin-left: 8.5vw;
            border-radius: 3.5vw 3.5vw;
            line-height: 7vw;
            text-align: center;
            font-weight: 800;
            color: white;
            z-index: 10;
        }
        & .nav--circle {    
            width: 15vw;
            height: 15vw;
            border-radius: 7.5vw 7.5vw;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.8rem;
            line-height: 15vw;
            background-color: $primary;
            & .fa-caret-down {
                font-size: 3.2rem; 
            }
        }
        & .nav--circle--profil {
            @extend .nav--circle
        }

        & #articles {
            height: 70vh;
            overflow-y: scroll;
         }
            & #articles--1 {
                margin-top: 3vh;
                & section {
                    margin-bottom: 4vh;
                    & .articlebody {
                        margin-left: 11vw; 
                        width: 78%;
                    & article {
                        width: 100%;
                        margin: 0 1vw 0 2vw;
                        border: 1px solid $secondary;
                            & .circles {
                                margin-left: -8vw !important;
                            & .circle-moyen {
                                width: 15vw;
                                height: 15vw;
                                border-radius: 7.5vw 7.5vw;
                                margin: 0 1vw 0 0;
                                font-size: 1.5rem;
                                line-height: 15vw;
                                color: white;
                                overflow: hidden;
                            }
                            & a .avatar {
                                margin-top: 1vh;
                                & img {
                                    min-width: 105%;
                                    min-height: 105%;
                                    width: auto;
                                    height: auto;
                                }
                            }
                            & .action {
                                width: 10vw;
                                height: 10vw;
                                border-radius: 5vw 5vw;
                                margin-top: 2.5vw;
                                margin-left: 3vw;
                                padding-top: .5rem;
                                text-align: center;
                                font-size: .8rem;
                                line-height: 5.5vw; 
                                color: white;
                                background-color: $primary;
                            }
                        }
                        & .message {
                            width: 80%;
                            & textarea {
                            width: 100%;
                            padding: 0 1vw 0 1vw;
                            }
                            & .article--titre {
                                margin-left: -10vw;
                                padding: 1rem 0 0 10vw;
                                font-size: 1.2rem;
                                line-height: 1.3rem;
                            }
                            & .article--titre--ellipsis {
                                height: 10vw;
                                margin-left: -10vw;
                                padding: 2.7vh 0 0 10vw;
                                width: 115%;
                                font-size: 1.2rem;
                                line-height: 1.3rem;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                -ms-text-overflow: ellipsis;
                            }
                            & .informations {
                                padding: 0 7vw 0 0;
                                font-size: .8rem;
                                & .author {
                                    font-weight: 800;
                                }
                            }
                            & .download--file {
                                padding-top: .7vh;                            
                                & label {
                                    height: 9vw;
                                    width: 11vw;
                                // padding-right: .7vw !important;
                                    border-radius: 1vw 1vw 1vw 1vw;
                                    text-align: center;
                                    line-height: 9vw;
                                    color: white;
                                    background-color: $secondary;
                                }
                                & .caption {
                                    width: 80%;
                                }    
                            }
                            & .file {
                                height: 30vh;
                                margin-top: .5vh;
                            }
                            & .article--body {
                                font-size: 1rem;
                                padding-bottom: 2vh;
                                & .first--p {
                                    margin-top: -3vh;
                                }
                                & textarea {
                                    margin-top: 1vh;
                                }
                            }
                            & .button--update {
                                margin: -2vh 0 1vh 0;
                                width: 10vw;
                                height: 10vw;
                                border-radius: 5vw 5vw;
                                text-align: center;
                                font-weight: 800;
                                line-height: 10vw;
                                color: white;
                                background-color: $primary;  
                            } 
                            & .button--cancel {
                                @extend .button--update;
                            }   
                        }
                    }
                }
                    & aside {
                        margin-left: -2vw;
                        & .circle-like {
                        width: 10vw;
                        height: 10vw;
                        border-radius: 5vw 5vw;
                        margin-top: 2.5vw;
                        margin-left: -6vw;
                        padding-top: .5rem;
                        text-align: center;
                        font-size: .8rem;
                        line-height: .8rem;
                        color: white;
                        background-color: $secondary;
                        & .number-like {
                            font-size: .7rem; 
                        }
                    }
                        & .liked {
                            margin-top: -.25rem;
                            margin-left: -.5rem;
                            width: 4vw;
                            height: 4vw;
                            border-radius: 2vw 2vw;
                            background-color: $primary;
                            z-index: 10;
                            }
                }
            }
        }
        & #new-article {
            & .message--label {
                z-index: 10;
                & label {
                    width: 15vw;
                    height: 15vw;
                    border-radius: 7.5vw 7.5vw;
                    font-size: 1.2rem;
                    line-height: 15vw;
                    color: white; 
                }
            }
            & .message--label--image {
                @extend label;
                margin-top: -2vh;
            }
            & .label-file {
                height: 9vw;
                margin: 0 0 0 3.5vw;
                border-radius: 1vw 1vw 1vw 1vw;
                text-align: center;
                line-height: 9vw;
                color: white;
                background-color: $secondary;
            }
            & textarea {
                padding: 2vh 0 0 8vw;
                margin-left: -4vw;
            }
            & .message--textarea--title {
                height: 15vw;
             }             
            & .button--post {
                margin: 2vh 0 1vh 0;
                width: 10vw;
                height: 10vw;
                border-radius: 5vw 5vw;
                text-align: center;
                font-weight: 800;
                line-height: 10vw;
                color: white;
                background-color: $primary;  
            } 
            & .button--cancel {
                @extend .button--post;
            }
        }
        #select-options {
            margin-bottom: 3vh;
            z-index: 10;
        }
        #options {
            margin: -2vh 0 1vh 0;
        }
        #user--profil {        
            @extend #articles;
            & .circle-moyen {
                width: 15vw;
                height: 15vw;
                border-radius: 7.5vw 7.5vw;
                margin: 0 1vw 0 37.5vw;
                font-size: .8rem;
                line-height: 15vw;
                color: white;
                overflow: hidden;
            }
        }
        & #author--profil {
            margin-left: 7vw;
            & img {
            height: 100%;
            display: block;}
        }       
        & input {
            margin-left: 10vw;        
         }
       & .update--desktop {
           & #author {
               margin-left: 1vw;
           }
           & .label-file {
            height: 9vw;
            margin: 1.5vh 0 0 3.5vw;
            border-radius: 1vw 1vw 1vw 1vw;
            text-align: center;
            line-height: 9vw;
            color: white;
            background-color: $secondary;
            }
            & .departement--name {
                margin-top: 7vh;
            }
            & .dropup {
                height: 5vh;
            }
       } 
       #button--update {
        & .litlecircle {
            background-color: $primary;
            color: white;
        }
    }       
}
}